.colors {
    --white: #fff;
    --black: #000;
    --main-yellow: #FFB540;
    --main-purple: #B35DFC;
    --main-green: #56FF95;
    --secondary-yellow: #D98500;
    --secondary-purple: #9053B7;
    --secondary-green: #3CC970;
    --accent-color: #FF50B4;
    --text-dark: #3F373B;
    --text-light: #64555D;
    --almost-white: #F7F7F6;
    --gray-50: #808080;
    --gray-95: #F2F2F2;
}

#contacts {
    .contact-content {
        display: flex;
        justify-content: center;
        gap: 35px;
        padding: 0 90px 30px 90px;
        max-width: 1140px;
        width: 100%;;
    }

    img {
        width: 535px;
        height: 462px;
        object-fit: cover;
        border-radius: 10px;
    }

    p {
        font-size: 26px;
        text-align: center;
        color: var(--text-light);
    }

    .right-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 55px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            p {
                font-size: 20px;
                font-weight: lighter;
                text-align: center;
                color: var(--text-light);
            }

            .weigth-500 {
                font-weight: 500;
                color: #000;
            }

            .social-net {
                display: flex;
                justify-content: center;
                gap: 40px;
            }

            a img {
                width: 48px;
                height: 48px;
            }
        }
    }
}

@media (width <=1200px) {
#reviews {
    padding: 40px 0;
    .reviews-content {
        display: flex;
        width: 100%;
        max-width: 320px;
        overflow: hidden;
    }

    .review {
        width: 320px;
        height: auto;
        gap: 15px;
    }
      
    div img {
        width: 100px;
        height: 100px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    button img {
        width: 52px;
        height: 52px;
    }
}

#contacts {
    padding: 40px 0 0;

    .contact-content {
        flex-direction: column;
        align-items: center;
        gap: 35px;
        padding: 0 0 85px;
        max-width: 320px;
    }

    img {
        width: 320px;
        height: 276px;
        border-radius: 3px;
    }

    p {
        font-size: 20px;
    }

    .right-content {
        gap: 35px;
    }
}

}